
//required bs
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

$theme-colors: map-remove($theme-colors, "info", "light", "dark", "danger", "warning");

$nav-link-color: $gray-300;
$nav-link-hover-color: $yellow;
$link-decoration: none;

$card-cap-bg: $white;

//optional bs
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

html, body {
  background: url('img/cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100% !important;
}

.page-header {
  color: $yellow;
  @extend .text-center;
  @extend .py-5;
  @extend .mt-5;
}

.card {
  @extend .card;
  margin-bottom: 2rem;
}

.card-body-member {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-md-row;
  @extend .text-center;
  @extend .text-md-left;
  @extend .align-items-center;
}

.address {
  @extend .fixed-bottom;
  @extend .text-center;
  @extend .small;
  @extend .py-1;
  color: $yellow;
}

.bicon{
  vertical-align: -.1em;
}