doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="icon" href="favicon.ico" type="image/x-icon")
        title SupraChem Research Group
        link(rel="stylesheet" href="suprachem.css?v=###VER###")
        //script(src="https://www.googletagmanager.com/gtag/js?id=UA-48118884-3")


    body

        //- menu
        div.fixed-top(style="background-color:#292933")

            div.container.d-flex.align-items-center.px-md-5.pt-2.pt-md-4.mb-2.mb-md-4.flex-column.flex-md-row


                        a(href="./")
                            img(
                                src="img/logo.png"
                                height="30"
                                width="128"
                            )


                        nav.nav.text-uppercase.ml-md-auto.pt-2.pt-md-0
                            a.nav-link.px-2.px-md-4(href="research.html") Research
                            a.nav-link.px-2.px-md-4(href="publications.html") Publications
                            a.nav-link.px-2.px-md-4(href="members.html") Members


        //- page content
        block page_content


        //- page scripts
        block page_scripts