:root {
  --t: #0d6efd;
  --n: #6610f2;
  --r: #6f42c1;
  --i: #d63384;
  --s: #dc3545;
  --o: #fd7e14;
  --u: #ffc107;
  --a: #198754;
  --f: #20c997;
  --l: #0dcaf0;
  --c: #fff;
  --h: #6c757d;
  --p: #343a40;
  --d: #0d6efd;
  --v: #6c757d;
  --m: #198754;
  --g: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --y: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --b: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); }

*,
*::before,
*::after {
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

body {
  margin: 0;
  font-family: var(--g);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

 h2, .h2, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw); }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem; } }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }


strong {
  font-weight: bolder; }

 .address {
  font-size: 0.875em; }

a {
  color: #0d6efd;
  text-decoration: none; }
  a:hover {
    color: #0a58ca; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

img,
svg {
  vertical-align: middle; }


tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/

.t {
  font-size: 1.25rem;
  font-weight: 300; }

.n {
  max-width: 100%;
  height: auto; }

.r,
.i {
  width: 100%;
  padding-right: var(--w, 0.75rem);
  padding-left: var(--w, 0.75rem);
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .r {
    max-width: 540px; } }

@media (min-width: 768px) {
  .r {
    max-width: 720px; } }

@media (min-width: 992px) {
  .r {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .r {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .r {
    max-width: 1320px; } }

.s {
  --w: 1.5rem;
  --x: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--x) * -1);
  margin-right: calc(var(--w) / -2);
  margin-left: calc(var(--w) / -2); }
  .s > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--w) / 2);
    padding-left: calc(var(--w) / 2);
    margin-top: var(--x); }

@media (min-width: 768px) {
  .o {
    flex: 0 0 auto;
    width: 66.66667%; } }

@media (min-width: 992px) {
  .u {
    flex: 0 0 auto;
    width: 50%; } }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.a {
  display: block;
  padding: 0.5rem 1rem;
  color: #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .a {
      transition: none; } }
  .a:hover, .a:focus {
    color: #ffc107; }
  .a.f {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.l {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }

.c {
  flex: 1 1 auto;
  padding: 1rem 1rem; }

.h {
  margin-bottom: 0.5rem; }

.p {
  margin-top: -0.25rem;
  margin-bottom: 0; }

.d:last-child {
  margin-bottom: 0; }

.v:hover {
  text-decoration: none; }

.v + .v {
  margin-left: 1rem; }

.m {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .m:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }

.g {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125); }
  .g:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.y {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

 .address {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.b {
  vertical-align: middle !important; }

.w {
  display: table !important; }

.x {
  display: table-cell !important; }

.k, ._ {
  display: flex !important; }

.j {
  display: none !important; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.q {
  position: absolute !important; }

.z {
  width: 100% !important; }

.te {
  height: 100% !important; }

.tt, ._ {
  flex-direction: column !important; }

.tn {
  justify-content: center !important; }

.tr, ._ {
  align-items: center !important; }

 .ti {
  margin-top: 3rem !important; }

.ts {
  margin-bottom: 0.5rem !important; }

.to {
  margin-bottom: 1rem !important; }

.tu {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

 .address {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

 .ti {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.ta {
  padding-top: 0.5rem !important; }

.tf {
  padding-bottom: 0 !important; }

.tl, .ti, ._, .address {
  text-align: center !important; }

.tc {
  text-transform: uppercase !important; }

/* rtl:begin:remove */

/* rtl:end:remove */

.th {
  color: #fff !important; }

.tp {
  color: #6c757d !important; }

.td {
  background-color: transparent !important; }

.tv {
  border-radius: 50% !important; }

@media (min-width: 576px) {
  .tm {
    display: block !important; } }

@media (min-width: 768px) {
  .tg, ._ {
    flex-direction: row !important; }
  .ty {
    margin-bottom: 1.5rem !important; }
  .tb {
    margin-left: auto !important; }
  .tw {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  .tx {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
  .tk {
    padding-top: 0 !important; }
  .t_ {
    padding-top: 1.5rem !important; }
  .tj {
    padding-left: 1.5rem !important; }
   ._ {
    text-align: left !important; } }

html, body {
  background: url("img/cover.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100% !important; }

.ti {
  color: #ffc107; }

.l {
  margin-bottom: 2rem; }

.address {
  color: #ffc107; }

.tq {
  vertical-align: -.1em; }
