extends templates/layout

block page_content

        h2.page-header PUBLICATIONS

        div.container
            div.row.justify-content-center
                div#pubs.col-md-8


        script(src='publications.js')
