extends templates/layout

block page_content

        h2.page-header PUBLICATIONS

        div.container
            div.row.justify-content-center
                div#pubs.col-md-8

block page_scripts
    script.
        $.getJSON("publications.json").done(function(a){let t="";$.each(a,function(a,s){t+='<div class="card card-pub" data-year="'+s.year+'"><div class="card-body"><h5 class="card-title">'+s.title+'</h5><h6 class="card-subtitle text-muted">'+s.authors+'</h6><p class="card-text"><i>'+s.journal+"</i><strong> "+s.year+"</strong>",""!=s.volume&&(t+="<i>, "+s.volume+"</i>"),""!=s.pages&&(t+=" ,"+s.pages),t+="</p>",""!=s.image&&(t+='<div class="text-center mb-3"><img src="'+s.image+'" class="img-fluid"></div>'),""!=s.abstract&&(t+='<p class="card-text">'+s.abstract+"</p>"),t+='<a href="https://doi.org/'+s.doi+'" target="_blank">DOI: '+s.doi+"</a></div></div>"}),$("#pubs").append(t)});
