extends templates/layout

block page_content

        h2.page-header PUBLICATIONS

        div.container-xxl
            div.row.justify-content-center
                div#pubs.col-lg-8.col-md-10


        script(src='publications.js')
