extends templates/layout

block page_content

        h2.page-header RESEARCH

        div.container
            div.row.justify-content-center
                div.col-md-8

                    div.card
                        h5.card-header.bg-transparent Supramolecular Polymers
                        div.card-body
                            div.text-center.mb-3
                                img.img-fluid.lazy(src='img/supramol_poly.jpg')
                            p.card-text Supramolecular polymers, integrating polymer science and supramolecular chemistry, are one of the rapidly developing interdisciplinary research fields. A number of noncovalent interactions (e.g., &pi;&mdash;&pi; stacking, host–guest interactions, metal coordination, and hydrogen bonding) have been employed as directional and reversible forces to provide polymeric properties in solution and the bulk. This has allowed the production of adaptive materials and bestowed functions such as self-healing, and thermo- and stimuli-responsiveness. Here in the SupraChem research group we seek creating synthetic, self-assembled, and high performance supramolecular polymers and their gels based on both anion and cation recognition by utilizing calix[4]pyrroles and other supramolecular scaffolds.

                    div.card
                        h5.card-header.bg-transparent Anion Sensors
                        div.card-body
                            div.text-center.mb-3
                                img.img-fluid.lazy(src='img/anion_sensors.gif')
                            p.card-text Anions are ubiquitous in our environment. Chloride anions are present in large quantities in the oceans (1.94%), salt lakes (upto 34%), and underground salt reservoirs. Bromide present in sea water (65 ppm). Dead Sea (Israel) and underground brines contain large quantities of bromide. Nitrate and sulfate are present in our environment in the form of their alkaline salts. They are also present in acid rains. Carbonates are present in everywhere including biomineralised materials in their different salt forms. High concentrations of fluoride that occur naturally in some ground waters can cause bone and teeth degradation disorders, such as fluorosis. At lower concentrations, fluoride can inhibit tooth decay. For the prevention of dental caries, a fluoride concentration between 0.5 and 1.0 ppm in drinking water is considered beneficial. On the other hand, concentrations above 1.0 ppm increase the risk of dental fluorosis and can lead to skeletal fluorosis. In rare instances, fluoride concentrations in naturally occurring groundwater sources may be up to 10 ppm, and these waters must be defluoridated before use as drinking water. Therefore, in the SupraChem research group we seek the determination of anion concentrations both in organic and aqueous environments.

                    div.card
                        h5.card-header.bg-transparent Nano Particles
                        div.card-body
                            div.text-center.mb-3
                                img.img-fluid.lazy(src='img/nanoparticles.jpg')
                            p.card-text Plasmonic metal nanostructures are important building blocks for nanodevices due to their well-known synthesis and desirable physical properties. They play an increasingly crucial role in the development of, inter alia, microfabricated devices, biomolecular sensors, and electronic and photonic materials. In this context, particular emphasis has been placed on creating controlled nanoparticle (NP) aggregates, since the size of the resulting ensembles bears directly on the optical features and functional properties of the system as a whole. Among the methods used to control NP aggregation, self-assembly has proved to be particularly attractive. However, the resulting assembled systems are generally static, meaning that once formed they cannot be easily disassembled.
                            p.card-text On the other hand, were they available, nanoparticle aggregates the self-assembly features of which can be controlled by an external stimulus would allow creation of nanostructures that can be modulated as a function of the environment. This, in turn, would provide a new method for adjusting systematically and in an "on–off" fashion the inter-NP distance and the associated optical features. Here in SupraChem research groups we seek supramolecular approaches, in which noncovalent anion–host interactions involving added substrates are exploited to control in a readily reversible manner aggregation and disaggregation, and using these systems as a sensor for anionic species.

                    div.card
                        h5.card-header.bg-transparent Separation and Extraction
                        div.card-body
                            div.text-center.mb-3
                                img.img-fluid.lazy(src='img/waste-remediation.jpg')
                            p.card-text The selective separation of alkaline salts from aqueous media is of fundamental importance in chemistry. It is, for instance, critical to the production of commodity materials (e.g., bromine and potassium) from high-salt sources, such as the Dead Sea and the Great Salt Lake and, on a very different scale, to the regulation of taste and the maintenance of osmotic balance in cells. Materials that could allow for such separations are thus of potential interest in a wide range of applications. Polymeric systems are particularly attractive in this regard because they are generally easy to isolate from solutions or mixtures.
                            p.card-text Here in SupraChem research group we investgate the synthesis, characterization, and extraction properties of polymeric systems containing anion sensor subunits known to bind halide anions and counter cations in organic media. It was thus expected that strong, potentially mutually enhancing, interactions would enable these polymeric materials to extract halide salts, such as KCl and KF, from aqueous solutions.